body {
    max-width: 100%;
    width: 780px;
    margin: auto;
}

.wrapper {
    padding: 0 10px;
}

h1 {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    font-style: italic;
}

footer {
    margin-top: 3em;
    border-top: 1px solid lightgray;
}