.wrapper {
    width: 780px;
    margin: auto;
}

h1 {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    font-style: italic;
}

footer {
    margin-top: 3em;
    border-top: 1px solid lightgray;
}