/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

article {
    margin: 0 2em;
}

/*image from https://commons.wikimedia.org/wiki/Category:Gliders#/media/File:Glider_(sailplane).jpg*/
.jumbotron {
    background: url("../img/background.jpg");
    background-clip: border-box;
    background-size: 100%;
    background-position-y: 50%;
}

.star, .starfull {
    display: inline-block;
    background-size: 12px 12px;
}

.star {
    background: url("../img/icons8-christmas-star-32.png")
}

.starfull {
    background: url("../img/icons8-star-filled-32.png")
}